h1{
    margin: 50px auto;
    text-align: center;
    min-width: 60%;
    position:relative;
}

h1:before{
    content: "";
    display:block;
    width: 20%;
    height:1px;
    background: #000;
    position: absolute;
    left: 5px;
    top: 55%;
    z-index: -2;
}

h1:after{
    content: "";
    display:block;
    width: 20%;
    height:1px;
    background: #000;
    position: absolute;
    right:5px;
    top: 55%;
    z-index: -2;
}
    
span{
    background: #fff;
}